/* Estilo para el cuerpo del documento */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('foto.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

/* Contenedor del formulario */
.form-container {
  background: rgba(0, 0, 0, 0.7);
  /* Fondo negro semi-transparente */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

/* Título del formulario */
h1 {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #a9e34b;
  /* Color verde claro */
}

/* Estilo de las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  color: #a9e34b;
  /* Color verde claro */
  font-weight: bold;
}

/* Estilo de los campos de entrada */
input[type="text"],
input[type="date"],
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #000;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo del botón de envío */
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #a9e34b;
  /* Color verde claro */
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="submit"]:hover {
  background: #8bc34a;
  /* Un poco más oscuro al pasar el ratón */
}

/* Barra de progreso */
.progress-container {
  width: 100%;
  background: #333;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
  height: 20px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background: #a9e34b;
  /* Color verde claro */
  transition: width 0.3s;
}
